.title {
  padding: 10px;
  font-size: 40px;
}

.card {
    margin: 20px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05); /* Slightly scales up the card */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Enhances the shadow */
  }
  
  .card-selected {
    border: 2px solid black;
  }
  