/* App.css */
@import url('https://example.com/path/to/puritan.css');


.slide-button:hover {
  transform: translateX(5px);
}

.slide-button:active {
  transform: translateY(4px);
}

.slide-button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #26A9DE;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  /* transition: background-color 0.1s ease; */
}

.slide-button:disabled {
  background-color: lightgray;
}